<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeepWelcomePage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>483D8FCD1D20C449006324E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>483D8FE61D20C44A006324E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>483D8FF11D20C44A006324E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
